body {
  background: rgb(0, 0, 0.9);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin: 0px;
}
/* Utility Classes */
.bg-dark {
  background: #333333;
  color: #f4f4f4;
}
.bg-light {
  background: #f4f4f4;
  color: #333333;
}
.center {
  text-align: center;
  margin: auto;
}
/* instead of creating a separate class (as shown a=in the showcase-img class) for image inside showcase section we can use the 'after' property of css */
/* .showcase-img {
    display: block;
    background-image: url(./showcase.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    filter: blur(10px);
  } */
.showcase::after {
  display: block;
  content: "";
  background-image: url(./showcase.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  filter: blur(10px);
  transition: all 1000ms;
}
.showcase:hover::after {
  filter: blur(0px);
}
.showcase:hover .content {
  filter: blur(2px);
}
.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 100px;
  margin-left: -145px;
  height: 300px;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  transition: all 1000ms;
}

.content .logo {
  height: 180px;
  width: 180px;
}
.content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}
.content .text {
  margin-top: 1rem;
  line-height: 1.7;
}

/* Services  block*/

.container {
  max-width: 960px;
  margin: auto;
  padding: 4rem 1rem;
  overflow: hidden;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* About Us Block */

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Footer */

footer {
  padding: 2.2rem;
}
footer p {
  margin: 0px;
}

/* Media queries for mobiles and tablets */
@media (max-width: 861px) {
  .showcase::after {
    height: 50vh;
  }
  .showcase .content {
    top: 5%;
    margin-top: 5px;
  }
  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }
  .content .logo {
    height: 140px;
    width: 140px;
  }
  .content .text {
    display: none;
  }
  .services div {
    border-bottom: 1px #333333 dashed;
    padding: 1.2rem 1rem;
  }
}

/* Media query for landscape in small screen devices */
@media (max-height: 500px) {
  .content text,
  .content .title {
    display: none;
    top: 0px;
  }
}
